In [21]:
import os
import csv
import pandas as pd

In [54]:
csv.writer(open('data/output.tsv', 'w', encoding = "utf8"), delimiter='\t').writerows(csv.reader(open("data/Airbnb_Texas_Rentals.csv", encoding = "utf8")))

In [58]:
df = pd.read_csv('data/output.tsv', sep='\t', index_col=False)
#df.reset_index(drop=True, inplace=True)
df.drop([df.columns[0]], axis=1,inplace=True)
#df.head()
df.head()

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
1,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW – ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
2,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...
3,$60,1,Bryan,February 2016,Private bedroom in a cute little home situated...,30.637304,-96.337846,Private Room Close to Campus,https://www.airbnb.com/rooms/11839729?location...
4,$75,2,Fort Worth,February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...

In [45]:
#print(df.loc[0,:])

average_rate_per_night                                                  $27
bedrooms_count                                                            2
city                                                                 Humble
date_of_listing                                                    May 2016
description               Welcome to stay in private room with queen bed...
latitude                                                            30.0201
longitude                                                           -95.294
title                       2 Private rooms/bathroom 10min from IAH airport
url                       https://www.airbnb.com/rooms/18520444?location...
Name: 0, dtype: object

In [59]:
i=0
for row in df.iterrows():
    if i > len(df):
       break
    else:
       f = open('doc_'+ str(i) +'.tsv', 'w', encoding = "utf8")
       f.write(str(row))
       f.close()
       i+=1

In [60]:
with open("data/output.tsv", encoding = "utf8") as file:
    for i, line in enumerate(file):
        with open("doc_{}.tsv".format(str(i+1)), "w", encoding = "utf8") as doc:
            doc.write(line)

In [7]:
    import pandas as pd
    b =pd.read_csv("data/Airbnb_Texas_Rentals.tsv", encoding = "utf8")
    i =0
    for row in b.values:
        file_title = 'data/doc{}.tsv'.format(i)
        row.tofile(file_title, sep="\t", format="%s")
        i+=1

EmptyDataError: No columns to parse from file